body {
	background-image: url('../images/pattern.png');
	background-repeat: repeat;
	margin: 30px 0;
}

header {
	background-color: #EEE;
	padding: 30px;

}

section {
	float: right;
	text-align: left;
	padding: 15px;
	max-width: 640px;
	font-size: 18px;
}

section p {
	margin-bottom: 15px;
}

section span {
	font-size: 25px;
}

#name p {
	margin: -5px 0 0 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 28px;
	letter-spacing: -3px;
}

#name {
	float: left;
	font-family: Arial, sans-serif;
	font-size: 25px;
	letter-spacing: -2px;
}

#main {
	margin: auto;
	width: 100%;
	max-width: 960px;
	background: white; 
}

.space {
	padding: 20px;
	border-bottom: 2px solid #F6C800;
}

.title {
	float: left;
	padding: 10px;
	/*min-width: 320px;*/
	font-family: sans-serif;
	font-size: 30px;
}

.info {
	margin-top: 30px;
	float: right;
}

/** FIXES **/
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

* {/* * = select all, fix for floating sections so everything can fit in all browsers as they are supposed to appear */ 
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

img, video, audio, iframe, form, table, figure { /* scale all media and images for responsive layout */
	width: 100%;
}
/** END FIXES **//
